body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8c291;
  }
  
  header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
  }
  
  .img{
    width: 60%;
    height:27vh; 
    display: block;
    margin-left:auto;
    margin-right: auto;
  }


  .how-it-works {
    padding: 40px;
}

.how-it-works h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.step {
    border: 1px solid #130707;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.step p {
    font-size: 18px;
    line-height: 1.6;
}

.step-content {
    display: none;
}

  .eco-friendly-commitment {
    background-color: #f8c291;
    padding: 40px;
    text-align: center;
}

.eco-friendly-commitment p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.eco-friendly-commitment strong {
    font-weight: bold;
}

.btn-learn-more {
    background-color: #2b7d7d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.call-to-action {
  background-color: #2b7d7d;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.call-to-action p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #f8c291;
  color: #2b7d7d;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
  
.tagline h1 {
    font-size: 30px;
    margin: 10px 0;
    color: #333;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-left: 15px;
   }
  

   .key-features {
    background-color: #f8c291;
    padding: 40px;
    font-size: medium;
}

.key-features h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feature-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.feature-list li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

.feature-list li:before {
    content: "\2022"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    line-height: 1;
}

footer {
  background-color: #2b7d7d;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-info {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: inline-block;
  margin: 0 5px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.legal-info {
  font-size: 14px;
}
  
